/*

    Styles for My Portfolio http://daiy.co
    Version: 1.0 [2014-02-07]
    Author: Yingyi Dai

    Inspired by Medium, Michelle Lee & Haraldur Thorleifsson's sites...
    
*/

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass/css3';

/* Custom Type */
$font-family-custom-sans-serif:  "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-custom-serif:       "bree-serif", Georgia, Times, serif !default;

/* color */
$light-grey: #b3b3b1;
$middle-light-grey: #999997;
$middle-grey: #666665;
$type-black: #333332;
$bg-black: #191918;

$half-alpha-white: rgba(255,255,255,0.5);

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    /* custom font */
    font-family: $font-family-custom-serif;
    -webkit-font-smoothing: antialiased;

    font-style: normal;
    font-size: 18px;
    line-height: 1.4;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $font-family-custom-serif;
}

a {
    @include transition(all .2s ease-in);
}

.btn {
    font-family: $font-family-custom-sans-serif;
}

.img-warp {
    text-align: center;
    img {
        max-width: 100%;
    }
}

/*fix snap content background */
.snap-content {
    background-color: #fff;
}

.menu {
    position: fixed;
    z-index: 10000;
    cursor: pointer;
    display: block;
    background-color: rgba(255, 255, 255, .9);
    @include transition(all .2s ease-in);

    top: 12px;
    left: 12px;

    &:hover {
        background-color: #fff;
    }
}

.icon-menu {
    display: block;
    margin: 12px;
    width: 21px;
    height: 19px;
    background-image: url('../images/assets/menu-blue.png');
}

.social {
    position: absolute;
    right: 24px;
    top: 26px;
}

.icon-mail, .icon-twitter, .icon-weibo, .icon-zhihu {
    float: left;
    display: block;
    @include transition(all .2s ease-in);
    margin-left: 24px;
}

.icon-mail {
    width: 19px;
    height: 14px;
    margin-right: 5px;
    margin-top: 2px;
    background-image: url('../images/assets/mail.png');
    &:hover {
        background-image: url('../images/assets/mail-hover.png');
    }
}

.icon-twitter {
    width: 22px;
    height: 18px;
    background-image: url('../images/assets/twitter.png');
    &:hover {
        background-image: url('../images/assets/twitter-hover.png');
    }
}

.icon-weibo {
    width: 22px;
    height: 18px;
    background-image: url('../images/assets/weibo.png');
    &:hover {
        background-image: url('../images/assets/weibo-hover.png');
    }
}

.icon-zhihu {
    width: 17px;
    height: 17px;
    margin-top: 1px;
    background-image: url('../images/assets/zhihu.png');
    &:hover {
        background-image: url('../images/assets/zhihu-hover.png');
    }
}

.intro {
    padding: 160px 0 120px 0;
}

.job {
    padding: 80px 0 40px 0;
}

.intro, .job {

    h1 {
        color: #0070cc;
        font-size: 60px;
        margin-bottom: 30px;
    }

    p {
        color: $middle-light-grey;
        letter-spacing: .01rem;
        word-spacing: .01rem;
        font-style: normal;
        font-size: 22px;
        line-height: 1.5;
        font-weight: 200;

        margin-bottom: 20px;
    }

    a {
        font-weight: 500;
    }
}

.end-char {
    color: #ccc !important;
    font-size: 60px !important;
    text-align: center;
}

/* item style */
.item {
    min-height: 630px;
    position: relative;
    color: $half-alpha-white;

    .detail {
        text-align: center;
        font-family: $font-family-custom-sans-serif;
    }

    .btn {
        display: block;
        padding: 12px;
        color: #fff;
        font-size: 16px;
        line-height: 1.5;
        border: 2px solid $half-alpha-white;
        @include border-radius(6px);
        
        width: 140px;
        margin: 0 auto;
        margin-bottom: 38px;

        @include transition(all .2s ease-in);

        &:hover {
            border: 2px solid #fff;
            background-color: rgba(255, 255, 255, .3);
        }
    }
}

.rippay {
    background-color: #a1e5e1;

    .detail {
        margin-top: 68px;
        color: rgba(255,255,255, .8);

        .detail-pic {
            margin-bottom: 28px;
        }
        .detail-text {
            margin-bottom: 14px;
        }

        .btn {
            margin-top: 38px;
        }
    }
}

.rim {
    //@include background(linear-gradient(#082554, #122f5c));
    background-color: #525966;
    
    .detail {
        margin-top: 78px;

        .detail-pic {
            margin-bottom: 38px;
        }
        .detail-text {
            margin-bottom: 14px;
        }

        .btn {
            margin-top: 48px;
        }
    }
}

.idjeans {
    background-color: #00a7e5;

    .detail {
        margin-top: 78px;
    }

    .btn {
        margin-top: 48px;
    }
}

.cube {
    //@include background(linear-gradient(#24c998, #24c9cc));
    background-color: #2dd4d7;

    .detail {
        color: rgba(255, 255, 255, .8);

        margin-top: 118px;
        
        .detail-pic {
            margin-bottom: 36px;
        }

        .detail-text {
            margin-bottom: 12px;
        }

        .btn {
            margin-top: 48px;
        }
    }
}

.zhihu {
    background-color: #0074ea;
    background-image: url('../images/home/zhihu_bg.png');
    background-position: 37px -10px;

    .detail {
        color: #fff;

        margin-top: 118px;
        
        .detail-pic {
            margin-bottom: 38px;
        }

        .detail-text {
            margin-bottom: 12px;
        }

        .btn {
            margin-top: 48px;
            border: 2px solid rgba(255, 255, 255, .7);
        }
    }
}

.edm {
    background-color: #edf1f5;

    .detail {
        color: #62798c;

        margin-top: 92px;

        h1 {
            font-size: 60px;
        }

        .detail-pic {
            margin-bottom: 12px;
        }

        .btn {
            margin-top: 48px;
            border: 2px solid rgba(98, 121, 140, .3);
            color: #62798c;

            &:hover {
                border: 2px solid rgba(98, 121, 140, .5);
                background-color: rgba(98, 121, 140, .3)
            }
        }
    }
}




/* sidebar style */
.snap-drawer {
    background-color: $bg-black;
    color: $light-grey;
    font-family: $font-family-custom-sans-serif;
    font-size: 14px;
    font-weight: 500;

    padding: 4px 44px 34px 28px;

    a {
        font-weight: 600;
        color: $light-grey;
        line-height: 38px;
        text-decoration: none;
        &:hover {
            color: #fff;
        }
    }

    p {
        font-size: 12px;
        color: $middle-grey;
    }

    ul {
        list-style: none;
        -webkit-padding-start: 0px;
        li {

            p {
                display: none;
            }
        }
    }

    .close-snap {
        position: relative;
        top: 27px;
        left: 192px;
        width: 20px;
        cursor: pointer;
    }

    .home {
        margin-bottom: 28px;
        display: block;
    }

    .works {
        margin-bottom: 28px;
    }

    .about {
        
    }

    .social {
        position: relative;
        margin-top: -14px;
        margin-left: 11px;

        .icon-mail, .icon-twitter, .icon-weibo, .icon-zhihu {
            margin-left: 16px;
        }
    }
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}