/* 

	Styles for EDM pages

*/
@import 'compass/css3';

$type-black: #333332;

.item {
	min-height: 450px;
	background-color: none;
}

.page {
	color: #666;
	
	word-spacing: .1rem;
	//letter-spacing: .01rem;
	font-style: normal;
    font-weight: 200;
    font-size: 22px;
    line-height: 1.55;

    overflow: hidden;
    padding-top: 40px;

    a {
		font-weight: 400;
    }

    p {
    	margin-bottom: 30px;
    }

    .center-text {
    	text-align: center;
		font-size: 48px;
		padding: 30px 0 60px 0;
    }
}

.swipe {
  overflow: hidden;
  visibility: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap > div {
  float:left;
  width:100%;
  position: relative;
}



/*page slider style*/
.page-slider {
	position: relative;

	.prev, .next {
		cursor: pointer;
		display: block;
		width: 64px;
		height: 300px;
		position: absolute;
		z-index: 9999;

		color: rgba(255,255,255, .5);
		font-size: 40px;

		@include transition(all .2s ease-in);

		&:hover {
			background-color: rgba(255, 255, 255, .3);
			p {
				color: #fff
			}
		}

		p {
			margin-left: 12px;
			margin-top: 125px;
		}
	}

	.prev {
		top: 0;
		left: 0;
	}

	.next {
		top: 0;
		right: 0;
	}
}

.swipe {

	.item {
		min-height: 300px !important;
	}

	.detail {
		margin-top: 62px;

		.detail-text {
			margin-bottom: 12px;
		}

		.btn {
			margin-top: 38px;
		}
	}

	.zhihu {
		.detail {
			margin-top: 60px;
		}
	}

	.idjeans {
		.detail {
			.btn {
				margin-top: 28px;
			}
		}
	}

	.rim {
		.detail{
			margin-top: 72px;
		}
	}

	.rippay {
		.detail {
			margin-top: 56px;
		}
	}

	.edm {
		background-color: #edf1f5;
		.detail {
			margin-top: 50px;
		}
	}

	.cube {
		.detail {
			margin-top: 56px;
		}
	}
}




/*edm page*/
.edm {
	background-color: #fff;
	position: relative;

	.detail {
		margin-top: 68px;
	}

	.gradient {
		position: absolute;
		top: 0;
		width: 100%;
		height: 450px;
		background-color: #edf1f5;
		//@include background(linear-gradient(#edf1f5, #efefef));
	}

	.edm2013, .weekly, .newsletter, .lostcinema {
		margin-bottom: 30px;
	} 

	.lostcinema {
		background-color: #efefef;
		padding-top: 20px;
	}

	.banner {
		h2 {
			text-align: center;
			margin-bottom: 30px;
		}
		margin-bottom: 120px;
	}
}


/*zhihu page*/
.zhihu {

	.detail {
		margin-top: 77px;
		.detail-pic {
			margin-bottom: 58px;
		}
	}

	.page {
		background: #fff;
	}

	.popup {
		background-color: #eff6fa;
		padding-top: 20px;

		padding-bottom: 40px;
	} 

	.share {
		background-color: #eff6fa;

		padding-bottom: 50px;
	}

	.app {

		margin-bottom: 30px;
	} 
}



/* rim page */
.rim {

	.detail {
		margin-top: 50px;
		.detail-pic {
			margin-bottom: 32px;
		}
	}

	.page {
		background: #fff;
	}

	.movie-img {
		width: 100%;
		margin: 0 0 30px 0; 
	}

	.concept {
		img {
			margin-bottom: 40px;
		}
	}

	.art-work {
		background-color: #0d1116;
		color: #fff;
		text-align: center;

		h2 {
			padding: 40px 0 60px 0;
		}

		img {
			margin-bottom: 60px;
		}

		.img-warp p {
			font-size: 14px;
			font-weight: 200;
			color: #666;
			position: relative;
			top: -56px;
		}

		.img-warp a {
			font-size: 14px;
			font-weight: 200;
			color: #999;
		}

		.btn {
			width: 220px;
			margin-bottom: 80px;
		}
	}
}


/* cube page */
.cube {
	.detail {
		margin-top: 88px;
	}

	.page {
		background: #fff;
	}

	.about {
		img {
			margin-bottom: 30px;
		}

		.center-text {
			color: #2dd4d7;
		}

		p span {
			font-weight: 400;
		}

	}

	.new {
		a {
			color: #444;
			font-weight: 200;
		}
	}

	.ia {
		img {
			margin: 20px 0 60px 0;
		}
	}

	.flow {
		padding: 30px;
		background-color: #2dd4d7;
		color: #fff;
	}

	.design {
		padding-top: 40px;
		margin-bottom: 30px;

		.btn {
			color: #ccc;
			border: 2px solid #ddd;
			width: 240px;
			margin-bottom: 50px;
		}

		.disable {
			background-color: #eee;
		}
	}
}


/* idjeans page */
.idjeans {
	.detail {
		margin-top: 48px;
	}
	.page {
		background-color: #fff;
		.center-text {
			color: #00a7e5;
		}
	}

	.custom {
		a {
			color: #666;
			&:hover {
				color: #444;
			}
		}
	}

	.research {
		img {
			margin: 10px 0 60px 0;
		}
	}

	.ia {
		img {
			margin: 10px 0 60px 0;
		}
	}

	.flow {
		background-color: #00a7e5;
		color: #fff;
		padding: 30px;
		img {
			margin-bottom: 60px;
		}

		.last {
			margin-bottom: 30px;
		}
	}

	.screen {
		img {
			margin: 30px;
		}

		.btn {
			color: #00a7e5;
			border: 2px solid #b8d9e5;
			width: 160px;
			margin-bottom: 80px;
			margin-top: 20px;

			&:hover {
				border: 2px solid #73c7e5;
				background-color: rgba(0, 167, 229, .1);
			}
		}
	}
}




/* rippay page*/
.rippay {
	.detail {
		margin-top: 30px;
	}
	.page {
		background-color: #fff;

		.center-text {
			color: #a1e5e1;
		}
	}

	.ripple {
		img {
			margin-bottom: 30px;
			margin-left: -14px;
		}

		a {
			color: #a1e5e1;
			&:hover {
				color: #8fccc8;
			}
		}
	}
}